# Don't add your credentials
credentials.py
env.sh

# Don't add the logs
logs/*
discord.log
wednesday.log
wednesday*.log
wb_err.log
wb_err*.log

# idea stuff
.idea/
.idea/*
*.idea/

# python stuff
__pycache__/

# linux stuff
nohup.out
*.nohup.*

#other
.DS_Store
